@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: '', sans-serif;
}
.h-font{
    font-family: 'Inter',sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-bg{
  background-color: #FFA500;
}
.custom-bg:hover{
  background-color: #000000;
}
.location-container{
  width: 100%;
  height: 100vh;
}
iframe{
  width: 100%;
  height: 500px;
  
}


.footer{
  background: #fff;
}
.footer .container{
  border: 0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
  gap: 1rem;
}
.footer .container .box h3{
font-size: 1.5rem;
color: var(--black);
padding: 1rem 0;
}
.footer .container .box .links{
  display: block;
  font-size: 0.8rem;
  color: var(--light-color);
  padding: 1rem 0;
  text-decoration: none;
}
.footer .container .box .links i{
  color: #FFA500;
  padding-right: .5rem;
}
.footer .container .box p{
  line-height: 1.8;
  font-size: 1rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}
.footer .container .box .logo a{
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  color: var(--black);
  margin-left: .2rem;
}

